log/*
results/*
.vscode/*
/data/
/__pycache__/
# Python相关
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints

# 环境相关
.env
venv/
env/
*.env

# 操作系统相关
.DS_Store
Thumbs.db

# 编辑器相关
*.swp
*.swo
*~

# 项目特定
*.pt
*.pkl
saved_information/*.csv

# 临时文件
*.tmp
*.bak
*.log